.food-purchase-item {
  // display: flex;
  // align-items: center;
  margin-top: 20px;

  .food-purchase-item_wrapper {
    display: flex;
    align-items: center;
  }

  .number-of-meals-input {
    width: 50px;
    height: 50px;
    margin-right: 22px;
    outline: none;
    border: 0.7px solid rgba(255, 255, 255, 0.562);
    border-radius: 8px;
    background-color: #252836;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;

    &:hover {
      color: white;
      background-color: #14344270;
    }
    &:active {
      color: rgba(212, 60, 90, 0.904);
      background-color: #1815158c;
    }
  }

  .price-figure-food {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: #FFFFFF;
  }
}

.leave-a-comment {
  display: flex;
  align-items: center;
  margin-top: 12px;

  .leave-a-comment-input {
    width: 330px;
    height: 50px;
    margin-right: 20px;
    padding: 14px;
    outline: none;
    border: 0.7px solid rgba(255, 255, 255, 0.562);
    border-radius: 8px;
    background-color: #252836;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #E0E6E9;

    &:hover {
      background-color: #14344270;
      border: 0.7px solid rgba(255, 255, 255, 0.979);

      &::placeholder {
        color: rgba(255, 255, 255, 0.527);
      }
    }
    &:active {
      background-color: #1815158c;
    }
  }

  .leave-a-comment-btn {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    outline: none;
    border: 0.7px solid #EA7C69;
    border-radius: 8px;
    background-color: #252836;
    transition: all 0.2s ease;

    &:hover {
      background-color: #ff00003f;
      border: 0.7px solid rgba(255, 255, 255, 0.979);
    }
    &:active {
      background-color: #1815158c;
    }
  }
}

.food-price-wrapper {
  display: flex;
  align-items: center;
  margin-right: 95px;

  .food-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .food-structure {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FAFAFA;
  }

  .food-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ABBBC2;
  }

 
}